#list {
    ul {
        margin: 0 auto;
	width: 988px;
	padding: 5px 0 0 5px;
	overflow: hidden;
    }
    li {
        overflow: hidden;
        float: left;
        display: inline-block;
        margin: 0 5px 5px 0;
        .photo {
            background: #000;
            border: solid 1px #ccc;
            text-align: center;
            width: 240px;
            height: 240px;
            a {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                display: block;
                height: 240px;
                width: 240px;
                &.yui3-image-loader {
                    background: none !important;
                }
            }
        }
    }
}
